@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Space+Mono&display=swap');




header{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.logo{
    max-width: 200px;
    
}

body{
    background-color: #19191A;
    
    
}



#map{
    height: 450px;
    width: 100%;
}



h1{
color: gainsboro;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: space mono;
}


#titel{
    padding-top: 5px;
    padding-bottom: 10px;
    
}


p{
    display: flex;
    justify-content: center;
    font-family: space mono;
    color: gainsboro;
    font-size: 10px;    
}




@media only screen and (min-width: 600px){
    .logo{
    max-width: 210px;
    
}
    
    h1{
        font-size: 18px;
    }
    
    p{
        font-size: 12px;  
    }    
}

@media only screen and (min-width: 800px){
    .logo{
    max-width: 220px;
    
}
 h1{
        font-size: 20px;
    }
    
    p{
        font-size: 14px;  
    }    
}

@media only screen and (min-width: 1000px){
    .logo{
    max-width: 280px;
    
}
 h1{
        font-size: 22px;
    }
    
    p{
        font-size: 16px;  
    }    
}

@media only screen and (min-width: 1000px){
    .logo{
    max-width: 290px;
    
}
 h1{
        font-size: 24px;
    }
    
    p{
        font-size: 18px;  
    }    
}


















html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption,footer , header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	
	vertical-align: baseline;
}

